/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Sarabun:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap");

root,
root::before,
root::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 3.052rem;
  align-items: center;
}

ul {
  padding: 0 !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: "DM Serif Display", serif;
  color: #6a3c34;
  font-size: 3.052rem;
}
nav .navbar li {
  list-style-type: none;
}
nav .navbar li a {
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  margin: 0 1.563rem;
  letter-spacing: 1.2px;
}
