/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Sarabun:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&Work+Sans&display=swap&Manrope&display=swap");

root,
root::before,
root::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3.052rem;
  align-items: center;
  position: relative;
  left: 0;
}

ul {
  margin-bottom: 0 !important;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}



.logo-home{
    text-decoration: none;
    color: #6a3c34;

}

.logo-home:hover{
    text-decoration: none;
    color: #6a3c34;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-illus {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
}

.home-logo {
  font-family: "DM Serif Display", serif;
  color: #FFF5E1;
  font-size: 5rem;
  text-align: center;
  line-height: 1em;
}

.tagline{
  font-family: 'Sarabun';
  color: #FFF5E1;
  font-weight: 200;
  font-size: 1.25rem;
  text-align: center;
}

.logo {
  font-family: "DM Serif Display", serif;
  color: #6a3c34;
  font-size: 3.052rem;
}

nav .navbar-shops {
  display: flex;
}
nav .navbar-shops li {
  list-style-type: none;
}
nav .navbar-shops li a {
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  margin: 0 1.563rem;
  letter-spacing: 1.2px;
}

.footer-logo {
  font-family: "DM Serif Display", serif;
  color: #FFF5E1;
  font-size: 3.052rem;
}

.logo-nav {
  font-family: "DM Serif Display", serif;
  color: #6a3c34;
  font-size: 3.052rem;
  height: 1em;
}

nav {
  padding-top: 6em;
  padding-bottom: 4em;
}


.sub-nav {
  padding: 0;
}


nav .navbar li {
  list-style-type: none;
  margin-right: 8em;
}

nav .navbar li:nth-child(3) {
  margin-right: 0;
}
nav .navbar li a {
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 1.2px;
  color: #FFF5E1;
}

nav .sub-navbar li {
  list-style-type: none;
  margin-right: 2em;
}

nav .sub-navbar li:nth-child(3) {
  margin-right: 0;
}
nav .sub-navbar li a {
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 1.2px;
  color: #FFF5E1;
}

.navbar-items{
  color: #6a3c34 !important;
}

.navbar-logo{
  padding-right: 120em;
}

.home-banner{
  background: url('./static/home-banner.png');
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-size: cover;
}

.search {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-top: 6rem;
  margin-bottom: 14rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}


.search-nav {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));

}


.listing {
  cursor: pointer;
}


.form-controlA {
  height: 3.052rem;
  width: 25em;
  border-radius: 6px 0px 0px 6px;
  border: none;
}

.form-controlB {
  height: 3.052rem;
  width: 15em;
  border-radius: 0px;
  border: none;
  margin-right: 0.25em;
}

.search-button {
  background-color: #6a3c34;
  color: white;
  padding: 0.8rem 1.563rem;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-family: 'Work Sans';
  font-weight: 200;
}
.categories {
  display: flex;
  justify-content: center;
}

.categories .category {
  margin: 1rem;
}
.categories .category .category-image{
  cursor: pointer;
  max-width: 350px;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
  border-radius: 16px;
  background-color: white;
}

.selected{
  transform: scale(1.2);
}

.unselected {
  transform: scale(1);
}

.subheader {
  font-family: 'Manrope';
  font-weight: 800;
  color: #6A3C34 !important;
  text-align: center;
  padding-top: 2em;
}

.subheader-desc {
  font-family: 'Sarabun';
  text-align: center;
  padding-bottom: 1em;
}

.subheader-shop {
  font-family: 'Manrope';
  font-weight: 800;
  color: #6A3C34 !important;
  padding-top: 0.5em;
}

.subheader-desc-shop {
  font-family: 'Sarabun';
  padding-bottom: 1em;
}

.banner {
  font-family: 'DM Serif Display';
  color: #6A3C34 !important;
  font-size: 3em;
  padding-top: 1.5em;
  padding-left: 10em;
}

.banner-desc {
  padding-top: 10vh;
  padding-right: 18em;
  font-color: #6A3C34 !important;
}

.banner-photo{
  background: url('./static/banner-photo.png');
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-size: cover;
  height: 20em;
}

.banner-photo-shop{
  background: url('./static/voucher-bg.png');
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-size: cover;
  height: 20em;
}

.button {
  background-color: #6a3c34;
  color: #FFF5E1;
  padding: 0.5rem 3.5rem;
  border-radius: 6px;
  border: none;
  font-weight: 400;
  font-family: 'Work Sans';
}

.partner-logos{
  padding-bottom: 4em;
}

.partner-logo{
  height: 10em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.partner-logo-edge{
  height: 10em;
  padding-right: 0;
  padding-bottom: 3em;
}

.social-icon {
  padding-right: 1em;
  height: 2em;
}

.footer-indent{
  padding-left: 4em;
}

.links {
  text-decoration: none;
  color: #FFF5E1;
}

.links:hover {
  text-decoration: none;
  color: #FFF5E1;
}

.image-1{
  background: url('./static/image-1.png');
}
.image-2{
  background: url('./static/image-2.png');
}
.image-3{
  background: url('./static/image-3.png');
}

.contact-padding{
  padding-right: 4em;
  display: inline;
}

.contact-paddingB{
  padding-right: 0;
  display: inline;
}

.shop-header{
  font-family: 'Manrope';
  font-weight: 800;
  color: #6A3C34 !important;
  padding-top: 1em;
  margin-bottom: 0 !important;
}

.impt-p{
  color: #6A3C34 !important;
  font-weight: bold;
}

.shop-tagline{
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
}

.rating {
  padding-top: 2.25em;
}

.rating-num{
  padding-top: 1em;
  text-align: right;
}

.col{
  padding: 0 !important;
}

.cardA {
  width: 40%;
  height: 10em;
  border: 2px !important;
  border-color: #6a3c34 !important;
  border-radius: 10px !important;
  margin-right: 2em;
  margin-bottom: 2em;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
}

.cardB {
  width: 40%;
  height: 10em;
  border: 2px !important;
  border-color: #6a3c34 !important;
  border-radius: 10px !important;
  margin-right: 0;
  margin-bottom: 2em;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.claim-button {
  background-color: #FFBE55;
  color: #6a3c34;
  padding: 0.8rem 1.563rem;
  border-radius: 10px;
  border: none;
  font-family: 'Work Sans';
  font-weight: normal;
  margin-top: 3.5em;
  margin-right: 2em;
}

.voucher-icon{
  padding-right: 0.5em;
  height: 2em;
}

.voucher-title{
  font-family: 'DM Serif Display';
  font-weight: normal;
  color: #6A3C34 !important;
  font-size: 2em;
  margin-bottom: 0 !important;
}

.voucher-desc {
  font-family: 'Manrope';
  font-size: 1.25em;
  margin-bottom: 0 !important;
}

.voucher-date {
  font-family: 'Sarabun';
  font-weight: light;
  text-align: center;
}

.voucher-row{
  padding-top: 1.5em;
  padding-left: 1em;
}

.tag-content{
  background-color: #94C3AF;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: 1em;
  padding: 0.25em 0.75em;
  border-radius: 6px;
  font-weight: bold;
  color: #FCFFFE;
}

.user-pic{
  height: 5em;
  padding-left: 4em;
}

.main-comment{
  font-family: 'Manrope';
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0 !important;
}

.from-rev{
  height: 2em;
  margin-bottom: 1em !important;
}

.rating-number{
  font-family: 'Sarabun';
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 0 !important;
  padding-right: 1em;
}

footer{
  background-color: #6A3C34;
  color: #FFF5E1;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
  padding-top: 4em;
}
