/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@400;500;600;700;800&family=Sarabun:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

root,
root::before,
root::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3.052rem;
  align-items: center;
  position: relative;
  left: 0;
}

ul {
  margin-bottom: 0 !important;
}

.google-button, .google-button-out {
  background-color: #6a3c34;
  color: #fff5e1;
  padding: 0.5rem 3.5rem;
  border-radius: 6px;
  border: none;
  font-weight: 400;
  font-family: "Work Sans";
  display: block;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.google-button-out {
  margin: 0 0 3.5rem auto;
}
.warning-signin {
  margin: 3.052rem 0;
}

.warning-message {
  font-size: 1.052rem;
  font-weight: 800;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.logo-home {
  text-decoration: none;
  color: #6a3c34;
}

.logo-home:hover {
  text-decoration: none;
  color: #6a3c34;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-illus {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
}

.home-logo {
  font-family: "DM Serif Display", serif;
  color: #fff5e1;
  font-size: 5rem;
  text-align: center;
  line-height: 1em;
}

.tagline {
  font-family: "Sarabun";
  color: #fff5e1;
  font-weight: 200;
  font-size: 1.25rem;
  text-align: center;
}

.logo {
  font-family: "DM Serif Display", serif;
  color: #6a3c34;
  font-size: 3.052rem;
}

nav .navbar-shops {
  display: flex;
}
nav .navbar-shops li {
  list-style-type: none;
}
nav .navbar-shops li a {
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  margin: 0 1.563rem;
  letter-spacing: 1.2px;
}

.footer-logo {
  font-family: "DM Serif Display", serif;
  color: #fff5e1;
  font-size: 3.052rem;
}

.logo-nav {
  font-family: "DM Serif Display", serif;
  color: #6a3c34;
  font-size: 3.052rem;
  height: 1em;
}

nav {
  padding-top: 6em;
  padding-bottom: 4em;
}

.sub-nav {
  padding: 0;
}
nav .sub-navbar {
  display: flex;
}
nav .navbar li {
  list-style-type: none;
  margin-right: 8em;
}

nav .navbar li:nth-child(3) {
  margin-right: 0;
}
nav .navbar li a {
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 1.2px;
  color: #fff5e1;
}

nav .sub-navbar li {
  list-style-type: none;
  margin-right: 2em;
}

nav .sub-navbar li:nth-child(3) {
  margin-right: 0;
}
nav .sub-navbar li a {
  text-decoration: none;
  font-family: "Sarabun", sans-serif;
  letter-spacing: 1.2px;
  color: #fff5e1;
}

.navbar-items {
  color: #6a3c34 !important;
}

.navbar-logo {
  padding-right: 120em;
}

.home-banner {
  background: url("./static/home-banner.png");
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-size: cover;
}

.search {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-top: 6rem;
  margin-bottom: 14rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.search-nav {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.listing {
  cursor: pointer;
}

.form-controlA {
  height: 3.052rem;
  width: 25em;
  border-radius: 6px 0px 0px 6px;
  border: none;
}

.form-controlB {
  height: 3.052rem;
  width: 15em;
  border-radius: 0px;
  border: none;
  margin-right: 0.25em;
}

.form-controlSub {

  height: 3.052rem;
  width: 40em;
  border-radius: 6px 0px 0px 6px;
  border: none;
}

.search-button {
  background-color: #6a3c34;
  color: white;
  padding: 0.8rem 1.563rem;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-family: "Work Sans";
  font-weight: 200;
}

.box-banner{
  background-color: #ffffff;
  position: relative;
  margin-top: 10%;
  top: 15%;
  border-radius: 10px;
  height: 15em;
}


.categories {
  display: flex;
  justify-content: center;
}

.categories .category {
  margin: 1rem;
}
.categories .category .category-image {
  cursor: pointer;
  max-width: 350px;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
  border-radius: 16px;
  background-color: white;
}

.selected {
  transform: scale(1.2);
}

.unselected {
  transform: scale(1);
}

.subheader {
  font-family: "Manrope";
  font-weight: 800;
  color: #6a3c34 !important;
  text-align: center;
  padding-top: 2em;
}

.subheader-desc {
  font-family: "Sarabun";
  text-align: center;
  padding-bottom: 1em;
}

.subheader-shop {
  font-family: "Manrope";
  font-weight: 800;
  color: #6a3c34 !important;
  padding-top: 0.5em;
}

.subheader-desc-shop {
  font-family: "Sarabun";
  padding-bottom: 1em;
}

.shop-info {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.shop-logo {
  width: 100%;
  max-width: 8rem;
  height: auto;
  margin-right: 1rem;
}

.boxsubheader {
  font-family: 'Manrope';
  font-weight: 800;
  color: #6A3C34 !important;
  text-align: center;
  padding-top: 1em;
}

.boxsubheader-desc {
  font-family: 'Sarabun';
  text-align: center;
  color: #2E2E2E;
  padding-bottom: -2em;
}

.leftsubheader {
  font-family: 'Manrope';
  font-weight: 800;
  color: #6A3C34 !important;
  text-align: left;
  padding-top: 2em;
}

.leftsubheader-desc {
  font-family: 'Sarabun';
  text-align: left;
  color: #2E2E2E;
  padding-bottom: 2em;
}


.faqsubheader {
  font-family: 'Manrope';
  font-weight: 800;
  color: #6A3C34 !important;
  text-align: left;
  padding-top: 2em;
}

.faqsubheader-desc {
  font-family: 'Sarabun';
  text-align: left;
  color: #2E2E2E;
  padding-bottom: 0.5em;
}

.faqsubheader-desc-desc {
  font-family: 'Sarabun';
  text-align: left;
  color: #2E2E2E;
  padding-bottom: 2em;
}

.faq {
  margin: 1.98rem 0;
}

.faqheader-desc {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1.98rem;
  
}
.banner {
  font-family: "DM Serif Display";
  color: #6a3c34 !important;
  font-size: 3em;
  padding-top: 1.5em;
  padding-left: 10em;
}

.banner-desc {
  padding-top: 10vh;
  padding-right: 18em;
  color: #6a3c34 !important;
}

.banner-photo {
  background: url("./static/banner-photo.png");
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-size: cover;
  height: 20em;
}


.fabanner{
  background: url('./static/placeholder-fabanner.png');
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-size: cover;
  height: 20em;
}

.aboutbanner{
  background: url('./static/About-banner.png');
}
.banner-photo-shop {
  background: url("./static/voucher-bg.png");

  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-size: cover;
  height: 20em;
}

.button {
  background-color: #6a3c34;
  color: #fff5e1;
  padding: 0.5rem 3.5rem;
  border-radius: 6px;
  border: none;
  font-weight: 400;
  font-family: "Work Sans";
}

.partner-logos {
  padding-bottom: 4em;
}

.partner-logo {
  height: 10em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.partner-logo-edge {
  height: 10em;
  padding-right: 0;
  padding-bottom: 3em;
}

.social-icon {
  padding-right: 1em;
  height: 2em;
}

.footer-indent {
  padding-left: 4em;
}

.links {
  text-decoration: none;
  color: #fff5e1;
}

.links:hover {
  text-decoration: none;
  color: #fff5e1;
}

.image-1 {
  background: url("./static/image-1.png");
}
.image-2 {
  background: url("./static/image-2.png");
}
.image-3 {
  background: url("./static/image-3.png");
}

.contact-padding {
  padding-right: 4em;
  display: inline;
}

.contact-paddingB {
  padding-right: 0;
  display: inline;
}

.shop-header {
  font-family: "Manrope";
  font-weight: 800;
  color: #6a3c34 !important;
  padding-top: 1em;
  margin-bottom: 0 !important;
}

.impt-p {
  color: #6a3c34 !important;
  font-weight: bold;
}

.shop-tagline {
  padding-top: 1em;
  padding-bottom: 1em;
  font-style: italic;
}

.rating {
  padding-top: 2.25em;
}

.rating-num {
  padding-top: 1em;
  text-align: right;
}

.col {
  padding: 0 !important;
}

/* .card-category {
  padding: 0.8rem 1.25rem;
  display: inline-block;
  border-radius: 4px;
  color: black;
  font-weight: 800;
  font-family: Manrope;
  text-transform: uppercase;
  letter-spacing: 1.2px;
} */

.card-category {
  display: inline-block;
  padding: 0.8rem 1.25rem;
  margin: 0;
  padding: 0.25em 0.75em;
  border-radius: 6px;
  font-weight: normal;
  color: black;
}

.food {
  background-color: #94c3af;
}
.clothes {
  background-color: #fff596;
}
.arts {
  background-color: #ffbe55;
}
.gardening {
  background-color: #6979f8;
}
.services {
  background-color: #ff93ab;
}
.others {
  background-color: #ef7171;
}

.cardA {
  width: 40%;
  height: 10em;
  border: 2px !important;
  border-color: #6a3c34 !important;
  border-radius: 10px !important;
  margin-right: 2em;
  margin-bottom: 2em;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.cardB {
  width: 40%;
  height: 10em;
  border: 2px !important;
  border-color: #6a3c34 !important;
  border-radius: 10px !important;
  margin-right: 0;
  margin-bottom: 2em;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.claim-button {
  background-color: #ffbe55;
  color: #6a3c34;
  padding: 0.8rem 1.563rem;
  border-radius: 10px;
  border: none;
  font-family: "Work Sans";
  font-weight: normal;
  margin-top: 3.5em;
  margin-right: 2em;
}

.voucher-icon {
  padding-right: 0.5em;
  height: 2em;
}

.voucher-title {
  font-family: "DM Serif Display";
  font-weight: normal;
  color: #6a3c34 !important;
  font-size: 2em;
  margin-bottom: 0 !important;
}

.voucher-desc {
  font-family: "Manrope";
  font-size: 1.25em;
  margin-bottom: 0 !important;
}

.voucher-date {
  font-family: "Sarabun";
  font-weight: light;
  text-align: center;
}

.voucher-row {
  padding-top: 1.5em;
  padding-left: 1em;
}

.tag-content {
  background-color: #94c3af;
  margin: 1rem 0;
  padding: 0.25em 0.75em;
  border-radius: 6px;
  font-weight: bold;
  color: #fcfffe;
  display: inline-block;
}

.user-pic {
  height: 5em;
  padding-left: 4em;
}

.main-comment {
  font-family: "Manrope";
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0 !important;
}

.from-rev {
  height: 2em;
  margin-bottom: 1em !important;
}
.gallery {
  margin: 3.052rem 0 1rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.gallery-main {
  margin-right: 1rem;
}
.gallery-item {
  margin: 1rem 0;
}

.gallery-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rating-number {
  font-family: "Sarabun";
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: 0 !important;
  padding-right: 1em;
}

.reviews {
  display: flex;
  align-items: center;
}

.reviews p {
  margin: 0;
}

.review-item {
  display: flex;
}

.review-date {
  color: #999999;
}
.user-pic {
  padding: 0;
  margin-right: 3.052rem;
}

.chat-trigger {
  float: right;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin: 1rem 1rem 2rem;
}
footer {
  background-color: #6a3c34;
  color: #fff5e1;

  width: 100%;
  left: 0;
  position: absolute;
  z-index: -1;
  padding-top: 4em;
}
